/* ------------------------------- Layout --------------------------------------- */
header{
    padding-top: 8vh;
}

#outer-container-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(232, 232, 232, 0.37);
    border-radius: 100px;
    padding: 50px;
    margin: 50px;

}
#inner-container-card {
    margin: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;

}
/* --------------- Reusables ----------------------- */
button {
    padding: 10px;
    border: none;
    border-radius: 10px;

    background-color: var(--mainColor);
    color: white;

}
button:hover {
    background-color: rgba(56, 71, 154, 0.87);
    cursor: pointer;
}

/* ---------------  Other --------------------------- */

#top-product-container {
    margin-top: 50px;
    background: rgba(232, 232, 232, 0.37);
    border-radius: 100px;
    padding: 50px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding: 50px;
    background-color: #e1e1e1;
}

/* ------------------------------- Media Queries -------------------------------- */



