/* ------------------------------- Layout --------------------------------------- */
header{
    padding-top: 8vh;
}

#outer-container-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(232, 232, 232, 0.37);
    border-radius: 100px;
    padding: 50px;
    margin: 50px;

}
#inner-container-card {
    margin: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;

}
/* --------------- Reusables ----------------------- */
.card {
    flex-direction:column ;
    min-width: 200px;
    padding: 20px 50px 50px 50px;
    background-color: var(--mainColor);
    align-items: center;
    color: white;
    border-radius: 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.counter {
    font-weight: bold;
}

/* ---------------  Other --------------------------- */
#card-sold {
    background-color: var(--mainColor);
}
#card-purchase {
    background-color: var(--secColor);
}
#card-selling {
    background-color: var(--dark-gray);
}

#top-product-container {
    margin-top: 50px;
    background: rgba(232, 232, 232, 0.37);
    border-radius: 100px;
    padding: 50px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#top-product-card {
    margin: 20px;
    display: flex;
    flex-direction: row;
    max-width: 1100px;
}
.Icon-mark {
    height: 12px;
    padding-left: 10px;
}
.TV-IMG {
    height: 250px;
    margin-top: 40px;
    margin-right: 40px;
    padding: 30px;
    background-color:white ;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.
/* ------------------------------- Media Queries -------------------------------- */







/* ------------------------------- AnimatedBG -------------------------------- */


#bg-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size:  120%  120%;
    background-image: linear-gradient(45deg, var(--mainColor) 0%, var(--mainColor) 25%, var(--mainColor) 51%, #35d0ff 100%);
    -webkit-animation: AnimateBG 1s ease infinite;
    animation: AnimateBG 10s ease infinite;
}



#bg-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size:  120%  120%;
    background-image: linear-gradient(270deg, var(--light-gray) 0%, var(--light-gray) 25%, var(--light-gray) 51%, #9fce13 100%);
    -webkit-animation: AnimateBG 1s ease infinite;
    animation: AnimateBG 10s ease infinite;
}



#bg-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 120% 120%;
    background-image: linear-gradient(199deg, var(--secColor) 0%, var(--secColor) 25%, var(--secColor) 51%, #dcaf13 100%);
    -webkit-animation: AnimateBG 1s ease infinite;
    animation: AnimateBG 10s ease infinite;
}


@-webkit-keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

