@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;500&display=swap');
/*index.css for GlobalStyles*/
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /*Color Design*/
  --mainColor: rgba(41, 59, 145, 0.9);
  --secColor: #a62a2a;
  --white: #ffffff;
  --light-gray: #828554;
  --dark-gray: #343a40;
  --darkLetter: #151515;
}
*{  /*reset css*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* -------------------------------  Typography ----------------------------------- */
body {
  font-family: 'Zen Kaku Gothic New', Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  text-align: center;
}
h1{
  font-size: 4rem;
  font-weight: lighter;
}
h2{
  font-size: 3rem;
  font-weight: bolder;
}
h3{

}